<div class="sidebar-widget categories">
  <h4>Categories</h4>
  <ul class="category-list">
    {% assign categories = site.categories | sort %}
    {% for category in categories %}
      {% assign category_name = category[0] %}
      {% assign category_slug = category_name | slugify %}
      <li>
        <a href="{{ site.baseurl }}/category/{{ category_slug }}/">
          {% if category_name == "dotnet" %}
          .NET
          {% else %}
          {{ category_name | capitalize | replace: "-", " " }}
          {% endif %}
          <span class="count">({{ category[1].size }})</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar-widget tags">
  <h4>Tags</h4>
  <div class="tag-cloud">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
      {% assign tag_name = tag[0] %}
      {% assign tag_slug = tag_name | slugify %}
      <a href="{{ site.baseurl }}/tag/{{ tag_slug }}/" class="tag-link">
        {% if tag_name == "dotnet" %}
        .NET
        {% else %}
        {{ tag_name | capitalize | replace: "-", " " }}
        {% endif %}
      </a>
    {% endfor %}
  </div>
</div> 