{% if page.contact_area.enable %}
<div class="wrapper light-wrapper">
    <div class="container inner">
	      {% if page.contact_area.title %}
          
	       <h2 class="section-title">{{page.contact_area.title}}</h2>
	      {% endif %}
	      {% if page.contact_area.sub_title %}
	       <p class="lead larger">{{page.contact_area.sub_title}}</p>
	      {% endif %}
	      <div class="space40"></div>
	      <div class="row">
	        <div class="col-lg-7">
<p>Contact form disabled due to spam. Please reach out via <a
		href='https://www.linkedin.com/in/christian-findlay'>LinkedIn</a></p>

	        </div>
	        <!--/column -->
	        <div class="space30 d-none d-md-block d-lg-none"></div>
	        <div class="col-lg-4 offset-lg-1">
	          {% for lists in page.contact_area.lists %}
	          <div class="d-flex flex-row">
	            <div>
	              <div class="icon color-default fs-34 mr-25"> <i class="{{lists.icon}}"></i> </div>
	            </div>
	            <div>
	              <h6 class="mb-5">{{lists.title}}</h6>
	              <address>{{lists.info_01}} 
	              	{% if lists.info_02 %}
	                <br class="d-none d-md-block" />
	                {{lists.info_02}}
	               {% endif %}
	              </address>
	            </div>
	          </div>
              {% endfor %}
	        </div>
	        <!--/column -->
	      </div>
	      <!--/.row -->
    </div>
</div>
	{% endif %}