{% if post.image %}
<div class="post-image">
	<a href="{{ post.url | relative_url }}">
		<img src="{{ post.image | relative_url }}" alt="{{ post.title }}" />
	</a>
</div>
{% endif %}
<div class="post-content">
	{% if post.categories.size > 0 %}
	<div class="post-category">
		{% for category in post.categories %}
		<a href="/category/{{ category | slugify }}">{{ category }}</a>
		{% endfor %}
	</div>
	{% endif %}
	
	<h2 class="post-title">
		<a href="{{ post.url | relative_url }}">{{ post.title }}</a>
	</h2>
	
	<div class="post-meta">
		<span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
	</div>
	
	<div class="post-excerpt">
		{{ post.excerpt | strip_html | truncatewords: 15 }}
	</div>
	
	<a href="{{ post.url | relative_url }}" class="more">Read More</a>
</div>