---
layout: default

contact_area:
  enable: true
  title: "Contact Christian"
  sub_title: "Let's have a chat and see what we can work out together. I'm usually available and can usually get back to you quickly. If you have any difficulty getting in touch, try <a href='https://www.linkedin.com/in/christian-findlay'>LinkedIn</a>"
  action_email: "mail@christianfindlay.com"
  
  lists:
    - title: LinkedIn
      info_02: "Feel free to connect on <a href='https://www.linkedin.com/in/christian-findlay'>LinkedIn</a>"
      icon: "icofont-location-pin"
    - title: Location
      info_02: "Melbourne, Australia"
      icon: "icofont-location-pin"

  forms_data: 

    - field_type: "input"
      field_name: "first_name"
      placeholder: "First Name" 
      error_message: "First Name Is required" 

    - field_type: "input"
      field_name: "last_name"
      placeholder: "Last Name" 
      error_message: "Last Name Is required"

    - field_type: "input"
      field_name: "user_email"
      placeholder: "Email"
      error_message: "Email Is required"

    - field_type: "input"
      field_name: "user_phone"
      placeholder: "Phone Number"
      error_message: "Phone Number Is required"

    - field_type: "textarea"
      field_name: "user_message"
      placeholder: "Message"
      error_message: "Message Is required"

---

{% include header.html extra_class="transparent navbar-hover-opacity" logo_class="logo" container_class="container" %}

{% if page.page_header.enable %}
{% assign page_d = page.page_header %}


<div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text"
    data-image-src="{{page_d.background_image}}">

    <div class="container inner text-center">

        <div class="space90"></div>
        {% if page_d.title %}
        <h1 class="page-title">{{page_d.title}}</h1>
        {% endif %}
        {% if page_d.sub_title %}
        <p class="lead mb-30">{{page_d.sub_title}}</p>
        {% endif %}
        {% if page_d.button_text != null %}
        <a href="{{page_d.button_url}}" class="btn btn-white btn-strong-hover">{{page_d.button_text}}</a>
        {% endif %}
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}


        <!--contact form-->
        {% include contact_1.html %}
        <!--/.contact form-->
 
{% include footer_2.html light_logo="true" %}