---
layout: default
page_header:
  enable: true
  title: "FAQ"
  sub_title: "How can I help?"
  button_text: reach out today
  button_url: "/contact"
  background_image: "/assets/images/christian-large.jpg"

faq_area:
  enable: true
  title: "Flutter Developer in Melbourne, Australia - FAQ" 
  sub_title: |
    FAQ. Feel free to reach out if you don't see an answer here
  faq:
  - question: "Do we need to build native for each platform?"
    answer: "No. Flutter builds beautiful native apps from a single codebase. You can deploy your app to iOS and Android without building it several times."
  - question: "What if you're booked out or we need more resources?"
    answer: "I have access to a vast network of designers, artists, software developers, and other skilled people. I can scale up with them as necessary"
  - question: "Which payment methods do you accept?"
    answer: "I accept international bank transfers."
  - question: "Can we use a database other than Firestore (Firebase)?"
    answer: "Of course. I recommend Firebase because it has everything out of the box and it's easy to get started, but I will work with any database that suits you."
  - question: "How do you handle security and privacy?"
    answer: "I depend on proven solutions, and I won't hand credentials over to 3rd parties. If your clients have sensitive data, I will only work with it if there is a protocol in place to ensure the integrity"
  - question: "Do you use AI?"
    answer: "Absolutely. AI is the biggest leap forward in the software industry in decades. I use AI to help me build better software faster, and I pass the savings on to you."
  - question: "Are there any discounts for charities?"
    answer: "If you are a registered charity, we can negotiate a lower day rate. Please contact me for more information."
  - question: "How do you charge?"
    answer: "I charge on a time and materials basis and the daily rate is competitive by Australian standards. Please reach out to get the current rate."
  - question: "Can we do a trial?"
    answer: "Absolutely. Hire me for a day and I can help you work through a problem or clean up an existing app."

---

{% include header.html extra_class="transparent navbar-hover-opacity" logo_class="logo" container_class="container" %}

{% if page.page_header.enable %}
{% assign page_d = page.page_header %}
<div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text"
    data-image-src="{{page_d.background_image}}">
    <div class="container inner text-center">
        <div class="space90"></div>
        {% if page_d.title %}
        <h1 class="page-title">{{page_d.title}}</h1>
        {% endif %}
        {% if page_d.sub_title %}
        <p class="lead mb-30">{{page_d.sub_title}}</p>
        {% endif %}
        {% if page_d.button_text != null %}
        <a href="{{page_d.button_url}}" class="btn btn-white btn-strong-hover">{{page_d.button_text}}</a>
        {% endif %}
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}

<div class="wrapper light-wrapper">
    <div class="container inner pb-0">

        {% if page.faq_area.enable %}
        <h3 class="display-3 text-center">{{page.faq_area.sub_title}}</h3>
        <div class="space40"></div>
        <div class="row">
            <div class="col-lg-6 mb-0">
                <div id="accordion-1" class="accordion-wrapper">
                    {% for faq in page.faq_area.faq limit: "4" %}
                    <div class="card">
                        <div class="card-header" id="accordion-heading-1-{{forloop.index}}">
                            <h5>
                                <button class="collapsed" data-toggle="collapse"
                                    data-target="#accordion-collapse-1-{{forloop.index}}" aria-expanded="false"
                                    aria-controls="accordion-collapse-1-{{forloop.index}}">
                                    {{faq.question}}
                                </button>
                            </h5>
                        </div>
                        <div id="accordion-collapse-1-{{forloop.index}}" class="collapse"
                            aria-labelledby="accordion-heading-1-{{forloop.index}}"
                            data-target="#accordion-{{forloop.index}}">
                            <div class="card-body">
                                <p>{{faq.answer}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--/column -->
            <div class="col-lg-6">
                <div id="accordion-2" class="accordion-wrapper">
                    {% for faq in page.faq_area.faq limit: "4" offset: "4" %}
                    <div class="card shadow">
                        <div class="card-header" id="accordion-heading-2-1">
                            <h5>
                                <button class="collapsed" data-toggle="collapse"
                                    data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false"
                                    aria-controls="accordion-collapse-2-{{forloop.index}}">
                                    {{faq.question}}
                                </button>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <div id="accordion-collapse-2-{{forloop.index}}" class="collapse"
                            aria-labelledby="accordion-heading-2-{{forloop.index}}"
                            data-target="#accordion-{{forloop.index}}">
                            <div class="card-body">
                                <p>{{faq.answer}}</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                    {% endfor %}
                </div>
                <!-- /.accordion-wrapper -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        {% endif %}

        <div class="space120"></div>

    </div>
    {% include cover.html %}
</div>

{% include footer_2.html light_logo="true" %}