---
layout: default
title: Flutter Developer in Melbourne, Australia
custom_css: meander
custom_font: font2

hero_area:
  enable: true
  title: "Hi, I'm Christian Findlay"
  sub_title: |
    I’m a professional Software Developer and trainer based in Melbourne, Australia. I focus on building with Flutter, .NET and AI
  button_text: "See My Portfolio"
  button_url: "#portfolio"
  image: "/assets/images/art/ChristianFindlay.jpg"
  section_id: "home"

services_area:
  section_id: "services"
  enable: true
  title: "Hire Me For"
  sub_title: "I specialize in single-source mobile apps with Flutter, and .NET backend solutions. I also build websites and web"
  services: 
    - title: "Flutter Apps"
      sub_title: "Build a new app with me, or review and breathe new life into your existing app"
      icon: "/assets/images/icons/ec-ecommerce-1.png"

    - title: "Firebase or Supabase"
      sub_title: "Implement an all in one Backend Solution. Simple auth, analytics, database and seamless scaling"
      icon: "/assets/images/icons/of-pie-chart.png"
    
    - title: "AI Integration"
      sub_title: "Add ChatGPT chat to your app or website and engage your users with AI, or use AI to build"
      icon: "/assets/images/icons/hs-support-5.png"

    - title: "Flutter Testing Training"
      sub_title: "Online Flutter Integration and Widget Testing training to help your team bring the quality level up"
      icon: "/assets/images/icons/sm-training-1.png"

    - title: "Cloud"
      sub_title: "Build and maintain reliable, high-performance solutions with .NET, Azure and Google Cloud"
      icon: "/assets/images/icons/ms-cloud-computing.png"
    
    - title: "Web"
      sub_title: "I extend Flutter apps to the web, and leverage React when you need the best web experience"
      icon: "/assets/images/icons/st-web-development.png"

testimonials:
  enable: true
  image: "/assets/images/art/about9.png"
  projects_number: 500
  project_tag: "Happy Customers"
  section_id: "testimonials"
  feedback:

    - quote: |
        Christian is a collaborative and supportive consultant, project anxiety was removed from day one. Everyone has room for
        improvement and he has helped us improve. Definitely will work with Christian again.
      image: "/assets/images/art/jade.jpg" 
      name: "Jade Lowe"
      designation: "Director, Octopus Group"

    - quote: |
        I started my investigations about flutter automation tests and during the process I saw my self with lots of doubts and
        uncertain of the best way to go forward. I read couple of blog posts from Christian that clarified something around but
        I also set up a session with him to better understand his approach. This session was very helpful and rich of content.
        It will definitely help me to go forward with decisions on my team. I am looking forward to have other sessions to
        expand a bit more in more complex topics.
      image: "/assets/images/art/deborah.jpg" 
      name: "Deborah D' Carlo"
      designation: "Senior QA Automation Engineer"

    - quote: |
        Christian actually knows what he is doing when it comes testings. He was the one who actually introduced me to the
        depths of Testing in Flutter. The concepts about Mocking data, DI, Creating Goldens, Widget testing for Different screen
        sizes, and reusing the Widget tests as Integrations tests were truly Amazing. I still follow his techniques to write
        tests in my code and never did I face any difficulties or problems.
      image: "/assets/images/documents/shree.png" 
      name: "Shree Bhagwat"
      designation: "Founder CODEAAMY | Co-organiser of Flutter Pune"

about_area:
  section_id: "about"
  enable: true
  title: "Our Services"
  sub_title: "The full service we are offering is specifically designed to meet your business needs"
  services:

    - title: "Mobile App Development"
      image: "/assets/images/concept/mobiledev.png"
      description: |
        I have over a decade of experience building mobile solutions. I recently built and released several Flutter apps for happy clients. I can build your app from scratch, or review and get your app back on track. I focus on test quality and coverage.
      button_text: "app portfolio"
      button_url: "#portfolio"

    - title: "Scalable, High Performance Backends"
      image: "/assets/images/concept/backend.png"
      description: |
        Over two decades of working with .NET. Hire me to build your backend solution, or upgrade from .NET Framework to .NET 8. Whether you need Microservices or a Modular Monolith, SQL Server or Postgress, I can help. I work with Azure, Google Cloud, and AWS.
      button_text: "reach out now"
      button_url: "#contact"

    - title: "Flutter Testing Training"
      image: "/assets/images/concept/fluttertesting.png"
      description: |
        I've mentored countless people over the years, and I can help you. Flutter Widget Testing and Integration Testing can be challenging. Kick start your team's journey and boost the quality of your apps. It's the best way to get the most from your apps.
      button_text: "book an appointment"
      button_url: "#contact"

    - title: "AI Integation"
      image: "/assets/images/concept/ai.png"
      description: |
        AI is the future. ChatGPT took the world by storm, and for good reason. AI can speed up your development workflow and automate repetitive tasks. I can help you integrate AI into your app or website, or teach your team how to improve productivity with coding assistants.
      button_text: "let's chat about ai"
      button_url: "#contact"

portfolios_area:
  enable: true
  title: "Portfolio"
  sub_title: "Recent Flutter apps that are live in the store right now"
  section_id: "portfolio"

  portfolios:

    - title: "Legacy 100th Torch Relay"
      sub_title: "Phone App"
      sm_img: "/assets/images/portfolio/legacy-home.png"
      big_img: "/assets/images/portfolio/legacy-route.png"
      url: "https://apps.apple.com/au/app/legacy-100th-torch-relay/id1618154550"
      filters:
        - apps

    - title: "Octopus Members Portal 2"
      sub_title: "Phone App"
      sm_img: "/assets/images/art/og.jpg"
      big_img: "/assets/images/art/ognotices.jpg"
      url: "https://play.google.com/store/apps/details?id=au.com.octopusgroup.membersportalv2&hl=en_AU&gl=US"
      filters:
        - apps

    - title: "Flutter Pulse"
      sub_title: "Get the latest Flutter news and tutorials"
      sm_img: "/assets/images/art/flutterpulse1.png"
      big_img: "/assets/images/art/flutterpulse2.png"
      url: "https://play.google.com/store/apps/details?id=com.christianfindlay.flutterpulse&hl=en_US&gl=NL"
      filters:
        - apps

video_area:
  enable: true
  vimeo_video_id: "165101721"
  btn_url: "#contact"
  btn_text: "build a flutter app"
  sub_title: |
    Find out everything you need to know <br class="d-none d-lg-block" />about building apps with Flutter
  description: |
    Flutter is Google's flagship UI toolkit for crafting beautiful, natively compiled applications for mobile, web, and desktop from a single codebase. Perfect for building native Android apps, and native iOS apps.

video_area2:
  enable: true
  vimeo_video_id: "165101721"
  btn_url: "#contact"
  btn_text: "train your team"
  sub_title: |
    Listen to me talk to Azam Sharp about Testing in Flutter
  description: |
    I talk to Azam Sharp about how to test apps. We cover the philosophy of testing, and this is what I can teach your team.

faq_area:
  section_id: "faq"
  enable: true
  title: "FAQ" 
  sub_title: |
    Feel free to reach out if you don't see an answer here
  faq:
  - question: "Do we need to build native for each platform?"
    answer: "No. Flutter builds beautiful native apps from a single codebase. You can deploy your app to iOS and Android without building it several times."
  - question: "What if you're booked out or we need more resources?"
    answer: "I have access to a vast network of designers, artists, software developers, and other skilled people. I can scale up with them as necessary"
  - question: "Which payment methods do you accept?"
    answer: "I accept international bank transfers."
  - question: "Which databases can we use?"
    answer: "I recommend Supabase (Postgres) for a relational database, or Firebase for Document Db. Both these platforms come with everything you need to build a scalable backend solution."
  - question: "How do you handle security and privacy?"
    answer: "I depend on proven solutions, and I won't hand credentials over to 3rd parties. If your clients have sensitive data, I will only work with it if there is a protocol in place to ensure the integrity"
  - question: "How do you use AI?"
    answer: "I use ChatGPT and GitHub Copilot heavily to improve productivity. But, I'm also sensitive to privacy concerns and won't use these tools if you prefer not to."
  - question: "Are there any discounts for charities?"
    answer: "If you are a registered charity, we can negotiate a lower day rate. Please contact me for more information."
  - question: "How do you charge?"
    answer: "I charge on a time and materials basis and the daily rate is competitive by Australian standards. Please reach out to get the current rate."
  - question: "Can we do a trial?"
    answer: "Absolutely. Hire me for a day and I can help you work through a problem or clean up an existing app."


---

<div class="content-wrapper">
  {% include one_page_nav.html %}
  {% if page.hero_area.enable %}
  <section id="{{page.hero_area.section_id}}">
    <div class="wrapper bg-opacity-default">
      <div class="rev_slider_wrapper fullwidth-container dark-spinner">
        <div id="slider6" class="rev_slider fullwidthbanner" data-version="5.4.7">
          <ul>
            <li data-transition="fade" data-thumb="">
              <img src="/assets/images/dummy.png" style="background:transparent" alt="{{page.hero_area.title}}" />
              <div class="tp-caption font-weight-600 color-dark" data-x="['left','left','center','center']"
                data-y="['middle','middle','bottom','bottom']" data-hoffset="['50','30','0','0']"
                data-voffset="['-100','-120','280','280']" data-fontsize="['40','40','40','32']"
                data-lineheight="['50','50','50','42']" data-width="['460','380','650','340']"
                data-textAlign="['left','left','center','center']"
                data-whitespace="['normal','normal','normal','normal']"
                data-frames='[{"delay":1100,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                data-responsive="on" data-responsive_offset="on" style="z-index: 9;"> {{page.hero_area.title}}
              </div>
              <!-- /.tp-caption -->
              <div class="tp-caption font-weight-400 color-dark" data-x="['left','left','center','center']"
                data-y="['middle','middle','bottom','bottom']" data-hoffset="['50','30','0','0']"
                data-voffset="['30','30','150','140']" data-fontsize="['26','26','26','20']"
                data-lineheight="['38','38','38','32']" data-width="['460','380','650','340']"
                data-textAlign="['left','left','center','center']"
                data-whitespace="['normal','normal','normal','normal']"
                data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                data-responsive="on" data-responsive_offset="on" style="z-index: 9;"> {{page.hero_area.sub_title}}
              </div>
              <!-- /.tp-caption -->
              <a class="tp-caption btn btn-l scroll" data-x="['left','left','center','center']"
                data-y="['middle','middle','bottom','bottom']" data-hoffset="['50','30','0','0']"
                data-voffset="['175','190','60','60']" data-width="['auto','auto','auto','auto']"
                data-frames='[{"delay":1900,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                data-responsive="on" data-responsive_offset="on" style="z-index: 9;"
                href="{{page.hero_area.button_url}}"> {{page.hero_area.button_text}}
              </a>
              <!-- /.tp-caption -->
              {% if page.hero_area.image %}
              <div class="tp-caption img-blob blob8" data-x="['right','right','center','center']"
                data-y="['middle','middle','top','top']" data-hoffset="['60','30','10','10']"
                data-voffset="['25','25','100','100']"
                data-frames='[{"delay":700,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                data-visibility="['on','on','on','on']" data-width="none" data-height="none" data-type="image"
                data-responsive="on" data-responsive_offset="on" style="z-index: 5;">
                <img data-lazyload="" src="{{page.hero_area.image}}" data-ww="['550','500','400','300']" data-hh="auto"
                  alt="{{page.hero_area.title}}" />
              </div>
              {% endif %}
            </li>
          </ul>
          <div class="tp-bannertimer tp-bottom"></div>
        </div>
        <!-- /.rev_slider -->
      </div>
      <!-- /.rev_slider_wrapper -->
    </div>
    <!-- /.wrapper -->
  </section>
  {% endif %}

  {% if page.services_area.enable %}
  <section id="{{page.services_area.section_id}}">
    <div class="space60"></div>
    <div class="space60"></div>
    <div class="space60"></div>
    <div class="wrapper overflow-top">

      <div class="container inner" style="padding-bottom: 60px;">

        {% if page.services_area.title %}
        <h2 class="section-title mb-20">{{page.services_area.title}}</h2>
        {% endif %}

        <div class="row text-center">

          {% for service in page.services_area.services %}
          <div class="col-md-6 col-lg-4 mb-4">

            <div class="box bg-white shadow">
              {% if service.icon %}
              <div class="icon icon-svg mb-20">
                <img src="{{service.icon}}" alt="{{service.title}}" />
              </div>
              {% endif %}
              <h5>{{service.title}}</h5>
              <p>{{service.sub_title}}</p>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>

    </div>

    {% endif %}

    <div class="container inner" style="padding-top: 0px;padding-bottom: 60px;">

      <div
        class="box shadow p-60 image-wrapper bg-full bg-image inverse-text rounded d-md-flex align-items-md-center justify-content-md-between"
        data-image-src="{{relative_url}}/assets/images/art/bg5.jpg">
        <h3 class="display-3 mb-0">Let's chat about my services!</h3>
        <div class="space30 d-md-none"></div>
        <a href="#contact" class="btn btn-white btn-strong-hover mb-0">Hire Me</a>
      </div>

    </div>
  </section>

  <section id="{{page.about_area.section_id}}">
    {% if page.about_area.enable %} 
    <div class="wrapper gray-wrapper">
      <div class="container inner">
        {% for service in page.about_area.services %}
        {% assign chck_number = forloop.index | modulo: 2 %}

        <div class="space120"></div>
        <div class="row align-items-center">
          {% if service.image %}
          <div class="col-lg-6 order-lg-{{chck_number}}">
            <div class="img-blob blob15">
              <img src="{{service.image}}" style="width: 30rem" alt="{{service.title}}" />
            </div>
          </div>
          {% endif %}
          <div class="space30 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-6 pr-60 pr-md-15">
            <h3>{{service.title}}</h3>
            <div class="space10"></div>
            <p>{{service.description}}</p>
            <div class="space10"></div>
            <a href="{{service.button_url}}"
              class="btn {% cycle 'btn-purple','btn-yellow','btn-red' %}">{{service.button_text}}</a>
          </div>

        </div>

        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if page.video_area.enable %}
    {% assign video_info = page.video_area %}
    <div class="wrapper gray-wrapper">
      <div class="container inner">
        <h2 class="display-2 text-center">{{video_info.sub_title}}</h2>
        <div class="space40"></div>
        <div class="row align-items-center">
          <div class="col-lg-8">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6iZnR5UKpkw?si=zPq-Hi5hMfDukJZ3"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
              allowfullscreen></iframe>
          </div>

          <div class="space30 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-4 pl-50 pl-md-15">
            <p>{{video_info.description}}</p>
            <ul class="icon-list bullet-default">
              {% for features in video_info.features %}
              <li><i class="jam jam-arrow-right"></i>{{features}}</li>
              {% endfor %}
            </ul>
            <div class="space10"></div>
            {% if video_info.btn_url %}
            <a href="{{video_info.btn_url}}" class="btn mb-0">{{video_info.btn_text}}</a>
            {% endif %}
          </div>

        </div>

      </div>

    </div>

    {% endif %}

    {% if page.video_area2.enable %}
    {% assign video_info = page.video_area2 %}
    <div class="wrapper gray-wrapper">
      <div class="container inner">
        <h2 class="display-2 text-center">{{video_info.sub_title}}</h2>
        <div class="space40"></div>
        <div class="row align-items-center">
          <div class="col-lg-8">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3dKugGP0LAc?si=e7tu_sUWVHw9J9Zx"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
              allowfullscreen></iframe>
          </div>

          <div class="space30 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-4 pl-50 pl-md-15">
            <p>{{video_info.description}}</p>
            <ul class="icon-list bullet-default">
              {% for features in video_info.features %}
              <li><i class="jam jam-arrow-right"></i>{{features}}</li>
              {% endfor %}
            </ul>
            <div class="space10"></div>
            {% if video_info.btn_url %}
            <a href="{{video_info.btn_url}}" class="btn mb-0">{{video_info.btn_text}}</a>
            {% endif %}
          </div>

        </div>

      </div>

    </div>
  </section>

  {% endif %}

  {% if page.portfolios_area.enable %}
  <section id="{{page.portfolios_area.section_id}}">
    <div class="wrapper light-wrapper">
      <div class="container inner">
        {% if page.portfolios_area.title %}
        <h2 class="section-title mb-20">{{page.portfolios_area.title}}</h2>
        {% endif %}
        {% if page.portfolios_area.sub_title %}
        <p class="lead larger">{{page.portfolios_area.sub_title}}</p>
        {% endif %}
        <div class="space40"></div>
        <div class="grid grid-view boxed">
          <div class="tiles">
            <div class="row isotope light-gallery-wrapper">
              {% for portfolios in page.portfolios_area.portfolios %}
              <div class="item item-detailed grid-sizer col-md-6 col-lg-4">
                <div class="box bg-white shadow p-30">
                  <figure class="main rounded mb-30">
                    <div class="item-detailed-image">
                      {% if portfolios.sm_img %}
                      <img src="{{portfolios.sm_img}}" alt="{{portfolios.title}}" />
                      {% endif %}
                      {% if portfolios.big_img %}
                      <img src="{{portfolios.big_img}}" alt="{{portfolios.title}}" />
                      {% endif %}
                    </div>
                    <a href="{{portfolios.big_img}}" class="hover-icon-first lightbox" data-tip="Enlarge image"><i
                        class="jam jam-qr-code"></i></a>
                    <a href="{{portfolios.url}}" class="hover-icon-second" data-tip="Go to link"><i
                        class="jam jam-link"></i></a>
                  </figure>
                  <div class="item-content">
                    <h2 class="post-title mb-10">{{portfolios.title}}</h2>
                    <div class="meta mb-0">{{portfolios.sub_title}}</div>
                  </div>

                </div>

              </div>

              {% endfor %}
            </div>

          </div>

        </div>

      </div>

    </div>

  </section>
  {% endif %}
  {% if page.testimonials.enable %}
  <section id="{{page.testimonials.section_id}}">
    <div class="wrapper bg-opacity-default">
      <div class="container inner">
        <div class="row">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="basic-slider owl-carousel gap-small text-center" data-margin="30">
              {% for feedback in page.testimonials.feedback %}
              <div class="item">
                <blockquote class="icon larger">
                  <p>"{{feedback.quote}}"</p>
                  <div class="blockquote-details justify-content-center">
                    {% if feedback.image %}
                    <div class="img-blob blob1">
                      <img src="{{feedback.image}}" alt="{{feedback.name}}" />
                    </div>
                    {% endif %}
                    <div class="info">
                      <h6 class="mb-0">{{feedback.name}}</h6>
                      <span class="meta mb-0">{{feedback.designation}}</span>
                    </div>
                  </div>
                </blockquote>
              </div>

              {% endfor %}
            </div>

          </div>

        </div>

      </div>
    </div>
  </section>
  {% endif %}

  {% if page.faq_area.enable %}
  <section id="{{page.faq_area.section_id}}">
    <div class="space40"></div>
    <h3 class="display-3 text-center">{{page.faq_area.title}}</h3>
    <div class="space20"></div>
    <h5 class="text-center">{{page.faq_area.sub_title}}</h5>
    <div class="row">
      <div class="col-lg-6 mb-0">
        <div id="accordion-1" class="accordion-wrapper">
          {% for faq in page.faq_area.faq limit: "4" %}
          <div class="card">
            <div class="card-header" id="accordion-heading-1-{{forloop.index}}">
              <h5>
                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-{{forloop.index}}"
                  aria-expanded="false" aria-controls="accordion-collapse-1-{{forloop.index}}">
                  {{faq.question}}
                </button>
              </h5>
            </div>
            <div id="accordion-collapse-1-{{forloop.index}}" class="collapse"
              aria-labelledby="accordion-heading-1-{{forloop.index}}" data-target="#accordion-{{forloop.index}}">
              <div class="card-body">
                <p>{{faq.answer}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-lg-6">
        <div id="accordion-2" class="accordion-wrapper">
          {% for faq in page.faq_area.faq limit: "4" offset: "4" %}
          <div class="card shadow">
            <div class="card-header" id="accordion-heading-2-1">
              <h5>
                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-{{forloop.index}}"
                  aria-expanded="false" aria-controls="accordion-collapse-2-{{forloop.index}}">
                  {{faq.question}}
                </button>
              </h5>
            </div>

            <div id="accordion-collapse-2-{{forloop.index}}" class="collapse"
              aria-labelledby="accordion-heading-2-{{forloop.index}}" data-target="#accordion-{{forloop.index}}">
              <div class="card-body">
                <p>{{faq.answer}}</p>
              </div>

            </div>

          </div>
          {% endfor %}
        </div>

      </div>

    </div>

  </section>
  {% endif %}



  <section id="contact">

    <div class="wrapper gray-wrapper" style="padding-bottom: 0px;">
      <div class="container inner" style="padding-bottom: 0px;">

        <h2 class="section-title">Get in Touch</h2>

        <p class="lead larger">Let's work together today</p>
      </div>
    </div>

    <iframe style="background-color: #f3f4f7"
      src="https://docs.google.com/forms/d/e/1FAIpQLSdsAHcMIHsbUWz8zgCEGoB_op-KQZVfQqSgrpGFPe8q6QCf3Q/viewform?embedded=true"
      width="99%" height="1300" frameborder="0" marginheight="16px" marginwidth="16px">Loading…</iframe>

  </section>

  <div class="space60"></div>

  {% include footer_2.html light_logo="true" %}

</div>