---
layout: page
title: "My Work - ChristianFindlay.com"
sub_title: "I build apps, open source libraries and train people"
black_menu: true

portfolios_area:
  enable: true
  categories:
    - title: "Flutter Apps"
      filter: "apps"

    - title: ".NET Open Source"
      filter: "dotnetoss"

    - title: "Flutter Open Source"
      filter: "flutteross"

    - title: "Video"
      filter: "video"

  portfolios:
    - title: "Flutter Pulse"
      sub_title: "Get the latest Flutter news and tutorials"
      sm_image: "assets/images/art/flutterpulse1.png"
      big_image: "assets/images/art/flutterpulse2.png"
      url: "https://play.google.com/store/apps/details?id=com.christianfindlay.flutterpulse&hl=en_US&gl=NL"
      filters:
        - apps

    - title: "Octopus Members Portal 2"
      sub_title: "Phone App"
      sm_image: "assets/images/art/og.jpg"
      big_image: "assets/images/art/ognotices.jpg"
      url: "https://play.google.com/store/apps/details?id=au.com.octopusgroup.membersportalv2&hl=en_AU&gl=US"
      filters:
        - apps

    - title: "Legacy 100th Torch Relay"
      sub_title: "Phone App"
      sm_image: "assets/images/portfolio/legacy-home.png"
      big_image: "assets/images/portfolio/legacy-route.png"
      url: "https://apps.apple.com/au/app/legacy-100th-torch-relay/id1618154550"
      filters:
        - apps

    - title: "Papilio Note"
      sub_title: "Flutter markdown notes app taking app"
      sm_image: "assets/images/art/papnote1.png"
      big_image: "assets/images/art/papnote2.png"
      url: "https://www.papilionote.com/#/notes"
      filters:
        - apps

    - title: "REST Client .NET"
      sub_title: ".NET REST Client Framework for all platforms"
      sm_image: "assets/images/blog/restclientdotnet/logo.png"
      big_image: "assets/images/blog/restclientdotnet/logo.png"
      url: "https://github.com/MelbourneDeveloper/RestClient.Net"
      filters:
        - dotnetoss

    - title: "Device.Net"
      sub_title: "Cross-platform .NET framework for talking to connected devices such as USB, Serial Port and Hid devices"
      sm_image: "assets/images/art/devicenet.png"
      big_image: "assets/images/art/devicenet.png"
      url: "https://github.com/MelbourneDeveloper/Device.Net"
      filters:
        - dotnetoss

    - title: "Course: Introduction to Uno Platform"
      sub_title: "A course on building cross platform apps with Uno Platform"
      sm_image: "assets/images/art/uno.png"
      big_image: "assets/images/art/uno.png"
      url: "https://www.udemy.com/course/introduction-to-uno-platform/"
      filters:
        - video

    - title: "CWTL Keynote Event - What's the Fuss About Flutter?"
      sub_title: "I talk about how Flutter can decrease the cost of development in your business"
      sm_image: "assets/images/art/cwtl.jpg"
      big_image: "assets/images/art/cwtl.jpg"
      url: "https://www.youtube.com/watch?v=6iZnR5UKpkw"
      filters:
        - video

    - title: ".NET Cross-Platform App UI Technologies"
      sub_title: "A discussion on the various cross-platform UI technologies for .NET"
      sm_image: "assets/images/art/dotnetxplat.png"
      big_image: "assets/images/art/dotnetxplat.png"
      url: "https://www.youtube.com/watch?v=hzbS0lcQXRk"
      filters:
        - video     

    - title: "Discussion"
      sub_title: "Pragmatic Testing with Mohammad Azam & Christian Findlay"
      sm_image: "assets/images/portfolio/testing.png"
      big_image: "assets/images/portfolio/testing.png"
      url: "https://youtu.be/3dKugGP0LAc"
      filters:
        - video

    - title: "ioc_container"
      sub_title: "A Dart IoC container that makes dependency injection easy"
      sm_image: "assets/images/portfolio/dart.svg"
      big_image: "assets/images/portfolio/dart.svg"
      url: "https://pub.dev/packages/ioc_container"
      filters:
        - flutteross

    - title: "flutter_ioc_container"
      sub_title: "Exposes ioc_container to the widget tree"
      sm_image: "assets/images/portfolio/flutter.svg"
      big_image: "assets/images/portfolio/flutter.svg"
      url: "https://pub.dev/packages/flutter_ioc_container"
      filters:
        - flutteross


    - title: "notifier_builder"
      sub_title: "Compose StatelessWidgets from a Notifier without Provider"
      sm_image: "assets/images/portfolio/flutter.svg"
      big_image: "assets/images/portfolio/flutter.svg"
      url: "https://pub.dev/packages/notifier_builder"
      filters:
        - flutteross

    - title: "Flutter Navigation Drawer Menu"
      sub_title: "A menu that adapts based on the device"
      sm_image: "assets/images/art/navdraw.gif"
      big_image: "assets/images/art/navdraw.gif"
      url: "https://pub.dev/packages/navigation_drawer_menu"
      filters:
        - flutteross

    - title: "firestore_fakes"
      sub_title: "A work in progress that fakes Firebase Firestore"
      sm_image: "assets/images/portfolio/flutter.svg"
      big_image: "assets/images/portfolio/flutter.svg"
      url: "https://pub.dev/packages/firestore_fakes"
      filters:
        - flutteross

    - title: "austerity"
      sub_title: "A Dart code analysis config that aims to be as strict as possible without contradicting rules"
      sm_image: "assets/images/portfolio/dart.svg"
      big_image: "assets/images/portfolio/dart.svg"
      url: "https://pub.dev/packages/austerity"
      filters:
        - flutteross

---

{% if page.portfolios_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="grid grid-view boxed">
      <div class="isotope-filter text-center">
        <ul>
          <li><a class="button active" data-filter="*">All</a></li>
          {% for category in page.portfolios_area.categories %}
           <li><a class="button" data-filter=".{{category.filter}}">{{category.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="tiles">
        <div class="row isotope light-gallery-wrapper">
          {% for portfolio in  page.portfolios_area.portfolios %}
          <div class="item item-detailed grid-sizer col-md-6 col-lg-4 {% for filter in portfolio.filters %} {{filter}} {% endfor %}">
            <div class="box bg-white shadow p-30">
              <figure class="main rounded mb-30">
                <div class="item-detailed-image">
                    <img src="{{portfolio.sm_image}}" alt="" />
                    <img src="{{portfolio.big_image}}" alt="" />
                </div>
                <a href="{{portfolio.sm_image}}" class="hover-icon-first lightbox" data-tip="Enlarge image"><i class="jam jam-qr-code"></i></a>
                <a href="#" class="hover-icon-second" data-tip="See details"><i class="jam jam-link"></i></a>
              </figure>
              <div class="item-content">
                <h2 class="post-title mb-10"><a href="{{portfolio.url}}">{{portfolio.title}}</a></h2>
                <div class="meta mb-0">{{portfolio.sub_title}}</div>
              </div>
              <!-- /.post-content -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.item -->
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.tiles -->
    </div>
    <!-- /.grid -->
  </div>
</div>
{% endif %}