---
layout: default
---

{% include one_page_nav.html %}

<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="blog-header">
      <h1>Flutter & .NET Blog</h1>
      <p class="blog-subtitle">Expert insights on Flutter, Dart, and .NET development</p>
    </div>

    <div class="blog grid">
      {% for post in paginator.posts %}
        {% include post_loop.html %}
      {% endfor %}
    </div>
    
    <div class="pagination-wrapper">
      {% include pagination.html %}
    </div>
  </div>
</div>

{% include footer_2.html light_logo="true" %}