---
layout: default

---

{% include one_page_nav.html %}

<div class="wrapper light-wrapper" >
  <div class="container  text-center">
    <div class="row">
    	<div class="mx-auto">
              <div class="space90"></div>
		    <h1 class="page-title text-capitalize">{{page.title}}</h1>
    	</div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="blog grid grid-view">
      <div class="row isotope">
        {% for post in page.posts %}
        <div class="item post grid-sizer col-md-6 col-lg-4">
         {% include post_loop.html %}
        </div>
        <!-- /.post -->
        {% endfor %}
      </div>
      <!-- /.row -->
    </div>
    <!-- /.blog -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% include footer_2.html light_logo="true" %}