<!DOCTYPE html>
<html lang="en">
<head>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JQWT4QXX6C"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JQWT4QXX6C');
  </script>

  {% if page.type == 'category' %}
  <title>{{ page.title | capitalize }} Blog</title>
  <meta
    property="og:title"
    content="{{ page.title | capitalize }} Blog"
  />
  <meta
    property="twitter:title"
    content="{{ page.title | capitalize }} Blog"
  />
  {% elsif page.type == 'tag' %}
  <title>Flutter & .NET Blog - Subject: {{ page.title | capitalize }}</title>
  <meta
    property="og:title"
    content="Flutter & .NET Blog - Subject: {{ page.title | capitalize }}"
  />
  <meta
    property="twitter:title"
    content="Flutter & .NET Blog - Subject: {{ page.title | capitalize }}"
  />
  {% else %}
  <title>
    {% if page.title %} {{ page.title }} {% else %} {{
    site.data.general_settings.title }}{% endif %}
  </title>
  {% endif %}

  {% if page.layout == 'post' %}
  <meta property="og:type" content="article'" />
  {% else %}
  <meta property="og:type" content="website'" />
  {% endif %}

  {% assign seo_description = "Christian Findlay is your ideal partner for building cutting-edge apps using Flutter and .NET in Melbourne, Australia. Specializing in robust, scalable applications, Christian offers expert .NET and Flutter development services tailored to your needs. Explore his portfolio and gain insights from the comprehensive .NET and Flutter blog. Whether you're a startup or an established business looking to innovate, let Christian transform your app vision into reality. Explore the site to learn more about Christian's services and how he can help you succeed in the digital world." %}

  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="twitter:description" content="{{ page.description }}" />
  {% else %}
  <meta name="description" content="{{ seo_description }}" />
  <meta property="og:description" content="{{ seo_description }}" />
  <meta property="twitter:description" content="{{ seo_description }}" />
  {% endif %}

  <meta property="og:locale" content="en_AU" /> 
  <meta name="twitter:card" content="summary" />
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  {% if page.canonical_url %}
  <link rel="canonical" href="{{ page.canonical_url }}">
  {% endif %}
  <link rel="shortcut icon" href="{{relative_url}}/assets/images/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="{{relative_url}}/assets/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{relative_url}}/assets/css/plugins.css"/>
  <link rel="stylesheet" type="text/css" href="{{relative_url}}/assets/revolution/css/settings.css"/>
  <link rel="stylesheet" type="text/css" href="{{relative_url}}/assets/revolution/css/layers.css"/>
  <link rel="stylesheet" type="text/css" href="{{relative_url}}/assets/revolution/css/navigation.css"/>
  <link rel="stylesheet" type="text/css" href="{{relative_url}}/assets/type/type.css"/>
  <link rel="stylesheet" type="text/css" href="{{relative_url}}/assets/css/style.css"/>
  <!--page wise css-->
  {% if page.custom_css -%}
    {%- for stylesheet in page.custom_css -%}
    <link rel="stylesheet" type="text/css" href="{{relative_url}}/assets/css/color/{{ stylesheet }}.css">
    {% endfor %}
  {%- endif -%}
  {%- if page.custom_font -%}
    {% for stylesheet in page.custom_font %}
    <link rel="stylesheet" type="text/css" href="{{relative_url}}/assets/css/font/{{ stylesheet }}.css">
    {% endfor %}
  {% endif %}
  <!--/.page wise css-->
  {% if site.data.general_settings.google_analytics.enable %}
   {% include analytics.html %}
  {% endif %}

</head>
<body {% if page.overflow %} class="overflow-hidden" {% endif %}>
  <div class="content-wrapper">
    {{ content }}
  </div>
  <script src="{{relative_url}}/assets/js/jquery.min.js"></script>
  <script src="{{relative_url}}/assets/js/popper.min.js"></script>
  <script src="{{relative_url}}/assets/js/bootstrap.min.js"></script>
  <script src="{{relative_url}}/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
  <script src="{{relative_url}}/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
  <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
  <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
  <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
  <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
  <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
  <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script src="{{relative_url}}/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
  <script src="{{relative_url}}/assets/js/plugins.js"></script>
  <script src="{{relative_url}}/assets/js/simple-jekyll-search.min.js"></script>
  <script src="{{relative_url}}/assets/js/scripts.js"></script>
</body>

</html>