---
layout: default
black_menu: true
---

{% include header.html container_class="container" extra_class="absolute" logo_class="logo" %}
<div class="wrapper light-wrapper">
  <div class="container inner pt-80">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="blog classic-view">
          {{ content }}
        </div>
        <!-- /.blog -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->

{% if page.author %}
{% assign check_author = site.authors | where: "title", page.author %}
{% for author_data in check_author %}
{% include author_profile.html author_data=author_data %}
{% endfor %}
{% endif %}

<!-- /.wrapper -->
{% include footer_2.html light_logo="true" %}
</div>
