---
layout: default
---

{% include one_page_nav.html %}

<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="blog-header-wrapper">
      <div class="blog-header">
        {% assign tag_name = page.title %}
        {% assign clean_tag = tag_name | downcase %}

        <h1>{{ tag_name | capitalize | replace: "-", " " }} Articles</h1>
        <div class="header-divider"></div>
        <p class="blog-subtitle">Articles related to {{ tag_name | capitalize | replace: "-", " " }}</p>
      </div>
    </div>

    <div class="blog-container">
      <div class="blog grid">
        {% for post in page.posts %}
          {% include post_loop.html %}
        {% endfor %}
      </div>
    </div>

    <div class="col-lg-4">
      <div class="blog-sidebar">
        {% include categories_tags.html %}
      </div>
    </div>

  </div>
</div>

{% include footer_2.html light_logo="true" %} 